---

automation:
  node_registry_endpoint: https://node-registry.example.foo
  node_registry_token: node-registry-s3cr3t
  ams_endpoint: localhost:8443
  ams_event_token: s3cr3t
  ams_event_project: ARGO-MON-AUTOMATION-PROJECT
  ams_event_subscription: events-subscription
  ams_admin_token: admin-s3cr3t

  oidc_token_url: localhost:8080
  oidc_client_id: tenant.status.integration.service
  oidc_client_secret: s3cr3t

  mon_api_endpoint: localhost:9443

  web_api_endpoint: localhost:8081
  web_api_token: api-s3cr3t

  mongodb_url: mongodb://localhost:27017 
  tenant_db_prefix: argo_

  argo_ops_email: argo_ops@localhost
  default_ops_profile_file: ./default.ops.json

run:
  hdfs_path: hdfs://localhost:9000/user/argo/test/tenants/
  hdfs_check_path: http://localhost:50070/user/argo/test/tenants
  flink_path: /opt/flink/bin/flink
  flink_url: http://localhost:8081
  batch_jar_path: /opt/argo/jars/multijob.jar
  ingest_jar_path: /opt/argo/jars/ingest.jar 

# The tenants section is automatically configured by engine - don't edit manually
#
# tenants:
#  TENANTFOO:
#    id: tenant-foo-uuid
#    ams_token: ams_s3cr3t
#    web_api_token: web_api_s3cr3t

