PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python
0 * * * * root /root/automation/automator-venv/bin/python /root/automation/run_batch -t {{ tenant }} -r Default -c /root/automation/config.yml
5 6 * * * root /root/automation/automator-venv/bin/python /root/automation/run_batch -t {{ tenant }} -r Default -c /root/automation/config.yml -d $(/bin/date --utc --date '-1 day' +\%Y-\%m-\%d)

